.blackcard {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 24px;

  @media screen and(max-width: 768px) {
    img {
      width: 327px;
      height: 250px;
      object-fit: cover;
    }
  }

  @media screen and(min-width: 768px) and (max-width: 1440px) {
    img {
      width: 689px;
      height: 200px;
      object-fit: cover;
    }
  }

  @media screen and(min-width: 1440px) {
    img {
      width: 541px;
      height: 308px;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 327px;
    h3 {
      font-family: "Jost";
      font-style: normal;
      font-weight: 500;
      font-size: 2.8rem;
      line-height: 3.6rem;
      text-align: center;
      letter-spacing: 1.4px;
    }
    a {
      font-family: "Jost";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 5px;
      color: #ffffff;
      .arrow {
        height: 8px;
        width: 4px;
        margin-left: 21px;
      }
    }
  }

  @media screen and(max-width: 768px) {
    &--tablet {
      display: none;
    }
    &--desktop {
      display: none;
    }
  }

  @media screen and(min-width: 768px) and (max-width: 1440px) {
    &--mobile {
      display: none;
    }
    &--desktop {
      display: none;
    }
  }

  @media screen and(min-width: 1440px) {
    &--tablet {
      display: none;
    }
    &--mobile {
      display: none;
    }
  }
}
