.blackcard {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 8rem 0 12rem;

  img {
      border-radius: 2rem;
      display: inline-block;
      object-fit: cover;
      width: 100%;
      height: 308px;

      @media screen and (max-width: $tablet) {
        height: 200px;
      }
      @media screen and (max-width: $mobile) {
        height: 250px;
      }
  }

  &__item {
    position: relative;
  }

  &__content {
      position: absolute;
      color: white;
      top: 0; left: 0; right: 0; bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;


      h3 {
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 4rem;
          line-height: 3.6rem;
          text-align: center;
          letter-spacing: 1.4px;
          margin-bottom: 2rem;
          @media screen and (max-width: $mobile) {
            font-size: 2.8rem;
          }
      }

      a {
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 5px;
          color: #ffffff;

          .arrow {
              height: 8px;
              width: 4px;
          }
      }
  }

  /*
  &__content1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 327px;

      h3 {
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 2.8rem;
          line-height: 3.6rem;
          text-align: center;
          letter-spacing: 1.4px;
      }

      a {
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 5px;
          color: #ffffff;

          .arrow {
              height: 8px;
              width: 4px;
              margin-left: 21px;
          }
      }
  }*/
}