@import "./global/variables";
@import "./global/mixins";
@import './global/reset';
@import './global/grid';
@import './blackCards';
@import './nav.scss';

body {
    font-family: $font-default;
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}


.back-bubble {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 2rem;
    @media only screen and (max-width: $mobile) {
        padding: 0;
    }
}

// Bannière avec les cercles + texte
@media only screen and (min-width: $mobile) and (max-width: $tablet) {
    .back-bubble {
        margin: 2rem;
    }
}

@media only screen and (min-width: $mobile) {
    .banner {
        border-radius: 1.5rem;
    }
}

.banner {
    background-color: $color-main;
    color: $color-second;
    height: 32rem;
    width: 100%;
    margin-top: auto;
    margin-bottom: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;


    &__title {
        font-weight: 500;
        position: relative;
        letter-spacing: 0.2rem;
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    &__text {
        position: relative;
        font-size: 1.5rem;
        line-height: 1.6;
        max-width: 55%;
        align-self: center;
    }
}

//Desktop responsive
@media only screen and (min-width: $desktop) {
    .banner {
        &__title {
            font-size: 4.8rem;
            font-style: medium;
        }

        &__text {
            max-width: 25%;
        }
    }
}


//Bulles dans la banner
[class^="desktop-bubble"],
[class*="desktop-bubble"] {
    width: 33rem;
    height: 32rem;
    border-radius: 50%;
    position: absolute;
}

@keyframes move {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.desktop-bubble {
    @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 11deg);
    right: 0;
    top: -14.5rem;
    animation: move 2s infinite;
}

.desktop-bubble1 {
    @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 91deg);
    right: 35rem;
    top: -14.5rem;
    animation: move 2s 0.2s infinite;
}

.desktop-bubble2 {
    @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 91deg);
    right: 35rem;
    top: 17.5rem;
    animation: move 2s 0.4s infinite;
}

.desktop-bubble3 {
    @include gradient-bubble(rgb(213, 118, 102), rgba(231, 129, 107, 1), 352deg);
    right: 0rem;
    top: 17.5rem;
    animation: move 2s 0.6s infinite;
}

.desktop-bubble-semi {
    @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 184deg);
    right: 68rem;
    top: -14.5rem;
    animation: move 2s 0.8s infinite;
}

//On cache les bulles desktop sur tablet
@media only screen and (max-width: $tablet) {
    [class^="desktop-bubble"],
    [class*="desktop-bubble"] {
        display: none;
    }
}

//On cache les bulles tablet sur mobile
@media only screen and (max-width: $mobile) {
    [class^="tablet-bubble"],
    [class*="tablet-bubble"] {
        display: none;
    }
}

//Tablet responsive
@media only screen and (min-width: $mobile) and (max-width: $tablet) {
    .banner {
        &__title {
            font-size: 4.8rem;
        }
    }
    
    [class^="tablet-bubble"],
    [class*="tablet-bubble"] {
        width: 30rem;
        height: 29rem;
        border-radius: 50%;
        position: absolute;
    }

    .tablet-bubble {
        @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 11deg);
        right: -18rem;
        top: -12.5rem;
    }

    .tablet-bubble1 {
        @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 91deg);
        right: 12rem;
        top: -12.5rem;
    }

    .tablet-bubble2 {
        @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 91deg);
        right: 12rem;
        top: 16.5rem;
    }

    .tablet-bubble3 {
        @include gradient-bubble(rgb(213, 118, 102), rgba(231, 129, 107, 1), 317deg);
        right: -18rem;
        top: 16.5rem;
    }

    .tablet-bubble-semi {
        @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 184deg);
        right: 41.9rem;
        top: -12.5rem;
    }
}

//Mobile responsive
@media screen and (max-width: $mobile) {
    [class^="mobile-bubble"],
    [class*="mobile-bubble"] {
        width: 30rem;
        height: 29rem;
        border-radius: 50%;
        position: absolute;
    }

    .mobile-bubble {
        @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 11deg);
        right: 0;
        top: 0.5rem;
    }

    .mobile-bubble-semi {
        @include gradient-bubble(rgba(210, 109, 91, 1), rgba(231, 129, 107, 1), 80deg);
        right: 30rem;
        top: 0.5rem;
    }

}


//Bloc texte / image
.container-design {
    max-width: 1160px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Classe image
    .p-express,
    .p-transfer,
    .p-photon,
    .p-builder,
    .p-blogr,
    .p-camp {
        display: block;
        width: 100%;
        object-fit: contain;
    }

    .design-items {
        margin-bottom: 3rem;
        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    // Fond du box texte
    .box {
        background-color: $color-box;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1rem;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 3rem;
        color: $color-main;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: .5rem;
        transition: all 0.2s ease-in;

        // Texte du box
        .text-box {
            color: $color-text;
            padding-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: normal;
            text-transform: none;
            transition: all 0.2s ease-in;
        }
        &:hover {
            background-color: $color-main;
            color: white;
            .text-box {
                color: white;
            }
        }
    }
}