@import "_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");

.contact {
  height: 764px;
  width: 100%;
  background-image: url("/Ressources/images/bg_contact_mobile.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media screen and(min-width: 768px) and (max-width: 1440px) {
    background-image: url("/Ressources/images/bg_contact_tablet.png");
    width: 689px;
    height: 711px;
  }
  @media screen and(min-width: 1440px) {
    background-image: url("/Ressources/images/bg_contact_desktop.png");
    width: 1111px;
    height: 480px;
    flex-direction: row;
    align-items: center;
  }
  &__explain {
    margin: 0 auto;
    @media screen and(min-width: 1440px) {
      text-align: left;
    }
  }
  h2 {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto 24px auto;
    padding-top: 72px;
    @media screen and(min-width: 768px) and (max-width: 1440px) {
      text-align: left;
      font-size: 48px;
    }
    @media screen and(min-width: 1440px) {
      font-size: 48px;
      text-align: left;
      margin-left: 95px;
      margin-bottom: 32px;
      padding-top: 0px;
    }
  }

  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    margin: 0 24px 48px 24px;
    @media screen and(min-width: 768px) and (max-width: 1440px) {
      text-align: left;
      width: 573px;
      margin: 0 0 40px 0;
      font-size: 16px;
    }
    @media screen and(min-width: 1440px) {
      font-size: 16px;
      text-align: left;
      width: 445px;
      margin: auto 95px;
    }
  }
  &__form {
    width: 476px;
    justify-content: flex-start;
    align-content: flex-start;
    @media screen and(min-width: 768px) and (max-width: 1440px) {
      width: 573px;
      height: 371px;
      margin: 0 auto;
    }
    @media screen and(max-width: 768px) {
      width: 327px;
      height: 764px;
      margin: 0 auto;
    }
    form {
      display: flex;
      flex-direction: column;
      position: relative;
      div {
        width: 327px;
        background-color: none;
        margin-bottom: 20px;
        @media screen and(min-width: 768px) and (max-width: 1440px) {
          width: 100%;
        }
        @media screen and(min-width: 1440px) {
          width: 380px;
          margin-bottom: 0px;
        }
        input {
          background-color: transparent;
          border: 0;
          height: 27px;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 26px;
          color: #ffffff;
          mix-blend-mode: normal;
          opacity: 0.5;
          margin-bottom: 25px;
          width: 380px;
          height: 38px;
          border-bottom: 1px white solid;
          padding-left: 16px;
          @media screen and(min-width: 768px) and (max-width: 1440px) {
            width: 573px;
            padding-left: 24px;
            height: 46px;
            margin-bottom: 0px;
          }
          @media screen and(max-width: 768px) {
            width: 327px;
            padding-left: 13px;
            height: 46px;
            margin-bottom: 0px;
          }
        }

        textarea {
          background-color: transparent;
          border: 0;
          height: 96px;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 26px;
          color: #ffffff;
          mix-blend-mode: normal;
          opacity: 0.5;
          margin: 11px 0 14px 0;
          width: 100%;
          text-align: left;
          border-bottom: 1px white solid;
          padding-left: 16px;
          resize: none;
          @media screen and(min-width: 768px) and (max-width: 1440px) {
            height: 102px;
          }
          @media screen and(min-width: 1440px) {
            height: 102px;
          }
        }
        .button {
          position: relative;
          height: 56px;
          width: 152px;
          border-radius: 8px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          font-family: Jost;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 1px;
          text-align: left;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: black;
          margin: 0 auto;
          opacity: 1;
          padding-left: 0;
        }
        .button:hover {
          background-color: #ffad9b;
          color: white;
        }
      }
      @media screen and(min-width: 1440px) {
        div:nth-child(5n) {
          position: absolute;
          top: 314px;
          left: 114px;
        }
      }
      @media screen and(min-width: 768px) and (max-width: 1440px) {
        div:nth-child(5n) {
          position: absolute;
          top: 341px;
          left: 210px;
        }
      }
    }
  }
}

.locations {
  margin: 12px auto;
  width: 100%;
  text-align: center;
  ul {
    @media screen and(min-width: 1440px) {
      display: flex;
      justify-content: center;
      gap: 178px;
    }
    li {
      margin-bottom: 48px;
      @media screen and(min-width: 768px) and (max-width: 1440px) {
        margin-bottom: 80px;
      }
      @media screen and(min-width: 1440px) {
        margin-bottom: 160px;
      }
      img {
        margin-bottom: 48px;
      }
      h3 {
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 32px;
      }
      a,
      a:link,
      a:visited {
        position: relative;
        height: 56px;
        width: 152px;
        border-radius: 8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e7816b;
        font-family: Jost;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 1px;
        text-align: left;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
        margin: 0 auto;
      }
      a:hover {
        position: relative;
        height: 56px;
        width: 152px;
        border-radius: 8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffad9b;
        font-family: Jost;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 1px;
        text-align: left;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
        margin: 0 auto;
      }
    }
  }
}
