@import "./global/variables";
@import "./global/mixins";
@import './global/reset';
@import './global/grid';

body {
    background-color: $bg-color;
    font-family: $font-default;
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 2.4rem;
}

.banner {
    background-color: $color-main;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}


/* .btn {
    @include button(white, $color-text); 
    
    html
    <p class="text-center">
            <a href="" class="btn">
                Learn More
            </a>
        </p>

}
} */