//Fonts

$font-default: 'Jost';


//Colors

$color-main: rgb(231, 129, 107);
$color-second: rgb(253, 243, 240);


$color-card: rgb(255, 255, 255);
$color-text: rgb(51, 49, 54);
$color-footer: rgb(141, 141, 143);


$bg-dark: rgb(28, 27, 29);
$bg-color: rgb(255, 255, 255);


//Breakpoint size

$desktop: 144rem;
$tablet: 76.8rem;
$mobile: 37.5rem;
