//Fonts

$font-default: 'Jost'; 
$size-title: 500;


//Colors

$color-main: rgb(231, 129, 107);
$color-second: rgb(253, 243, 240);

$color-box: rgba(253, 243, 240, 1);
$color-card: rgb(255, 255, 255);
$color-text: rgb(51, 49, 54);
$color-footer: rgb(141, 141, 143);


$bg-dark: rgb(29, 28, 30);
$bg-color: rgb(255, 255, 255);


//Breakpoint size

$desktop: 144rem;
$tablet: 76.8rem;
$mobile: 37.5rem;
