/* < ----- Reset CSS ----- > */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .aboutus--imgmobile {
    width: 37.5em;
    height: 32em;
  }
  .aboutus--imgtablet {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .aboutus--imgmobile {
    display: none;
  }
  .aboutus--imgtablet {
    width: 68.9em;
    height: 32em;
    border-radius: 5px 5px 0 0;
  }
}
.aboutus__content {
  height: 395px;
  background-image: url("../../Ressources/images/bg_about_mobile.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.aboutus__content h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
}
.aboutus__content p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin: 0 24px;
}

.worldclass {
  margin-bottom: 120px;
}
.worldclass__content {
  height: 545px;
  background-image: url("../../Ressources/images/bg_worldclass.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.worldclass__content h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #e7816b;
  margin-bottom: 24px;
}
.worldclass__content--p1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333136;
  margin: 0 24px 20px 24px;
}
.worldclass__content--p2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333136;
  margin: 0 24px;
}

.locations {
  margin-bottom: 120px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .locations ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 178px;
  }
}
.locations ul li {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .locations ul li {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .locations ul li {
    margin-bottom: 160px;
  }
}
.locations ul li img {
  margin-bottom: 48px;
}
.locations ul li h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 32px;
}
.locations ul li a,
.locations ul li a:link,
.locations ul li a:visited {
  position: relative;
  height: 56px;
  width: 152px;
  border-radius: 8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7816b;
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
}
.locations ul li a:hover {
  position: relative;
  height: 56px;
  width: 152px;
  border-radius: 8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffad9b;
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
}/*# sourceMappingURL=about.css.map */