@charset "UTF-8";
/* < ----- Reset CSS ----- > */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

/* 

.bubble {
    @include gradient-bubble(rgba(239, 230, 230, 1), rgba(253, 253, 253, 1), 90deg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;

Il faudra réadapter les degrés en fonction de chaque "bulle" de vos pages et juste copier coller le reste ou vous en avez besoin :p*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
.main__belgium {
  width: 37.5rem;
  height: 71.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.main__belgium__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39.4rem;
  text-align: center;
  gap: 2.4rem;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background: url(../../Ressources/images/bg_worldclass.png);
}
.main__belgium__text h2 {
  margin-bottom: 2.4rem;
  color: #E7816B;
  font-family: Jost;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}
.main__belgium__text h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
.main__belgium__text a,
.main__belgium__text a:link,
.main__belgium__text a:visited {
  color: black;
}
.main__belgium__location {
  width: 37.5rem;
  height: 32rem;
  background: url(../../Ressources/images/belgium-mobile.png);
}
.main__australia {
  max-width: 37.5rem;
  max-height: 71.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.main__australia__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39.4rem;
  text-align: center;
  gap: 2.4rem;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background: url(../../Ressources/images/bg_worldclass.png);
}
.main__australia__text h2 {
  margin-bottom: 2.4rem;
  color: #E7816B;
  font-family: Jost;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}
.main__australia__text h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
.main__australia__text a,
.main__australia__text a:link,
.main__australia__text a:visited {
  color: black;
}
.main__australia__location {
  width: 37.5rem;
  height: 32rem;
  background: url(../../Ressources/images/belgium-mobile.png);
}
.main__uk {
  max-width: 37.5rem;
  max-height: 71.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.main__uk__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39.4rem;
  text-align: center;
  gap: 2.4rem;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background: url(../../Ressources/images/bg_worldclass.png);
  margin-bottom: 12rem;
}
.main__uk__text h2 {
  margin-bottom: 2.4rem;
  color: #E7816B;
  font-family: Jost;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}
.main__uk__text h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
.main__uk__text a,
.main__uk__text a:link,
.main__uk__text a:visited {
  color: black;
}
.main__uk__location {
  width: 37.5rem;
  height: 32rem;
  background: url(../../Ressources/images/belgium-mobile.png);
}/*# sourceMappingURL=location.css.map */